:root {
    --body-medium-body-2-font-family: "Inter", Helvetica;
    --body-medium-body-2-font-size: 16px;
    --body-medium-body-2-font-style: normal;
    --body-medium-body-2-font-weight: 500;
    --body-medium-body-2-letter-spacing: 0px;
    --body-medium-body-2-line-height: 24px;
    --body-regular-body-3-font-family: "Inter", Helvetica;
    --body-regular-body-3-font-size: 14px;
    --body-regular-body-3-font-style: normal;
    --body-regular-body-3-font-weight: 400;
    --body-regular-body-3-letter-spacing: 0px;
    --body-regular-body-3-line-height: 20px;
    --brandprimary: rgba(76, 175, 79, 1);
    --button-link-medium-font-family: "Inter", Helvetica;
    --button-link-medium-font-size: 16px;
    --button-link-medium-font-style: normal;
    --button-link-medium-font-weight: 400;
    --button-link-medium-letter-spacing: 0px;
    --button-link-medium-line-height: 20px;
    --default-white: rgba(255, 255, 255, 1);
    --heading-headline-4-font-family: "Inter", Helvetica;
    --heading-headline-4-font-size: 20px;
    --heading-headline-4-font-style: normal;
    --heading-headline-4-font-weight: 600;
    --heading-headline-4-letter-spacing: 0px;
    --heading-headline-4-line-height: 28px;
    --neutralblack: rgba(38, 50, 56, 1);
    --neutralgrey: rgba(113, 113, 113, 1);
    --neutralsilver: rgba(245, 247, 250, 1);
    --neutralwhite: rgba(255, 255, 255, 1);
    --text-gray-300: rgba(217, 219, 225, 1);
  }